/* muda todos os títulos para peso normal */
h2 {
    font-weight: normal;
}

/* define tamanho de todas as imagens */
img {
    height: 200px;
    width: 200px;
}

/* cores pelos IDs */
#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}